.clear-bottom {
    &:after{
        clear: both;
        display: block;
        content: "";
    }
}
.copy {
  font-size: 16px;
  color: $color__text-main;
  @media screen and (min-width: $tabwidth){
    font-size: 18px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 20px 0;
  }
  strong, b, em {
    font-weight: 700;
  }
  a {
    text-decoration: none;
    color: $color__text-main;
    position: relative;
    &:hover {
      color: $color__text-main;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: $color__cn-green;
  }
  h1 {
    font-size: 25px;
    @media screen and (min-width: $tabwidth){ 
        font-size: 30px;
    }
  }
  h2 {
    font-size: 20px;
    @media screen and (min-width: $tabwidth){
        font-size: 25px;
    }
  }
  h3 {
    font-size: 18px;
    color: $color__cn-blue;
    @media screen and (min-width: $tabwidth){
      font-size: 20px;
    }
  }
  ul, ol {
    padding: 0;
    margin: 0 0 20px 20px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      a {
        cursor: pointer;
        color: $color__text-main;
        &:hover {
          color: $color__cn-green;
        }
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}
html {
    border-top: 8px solid $color__cn-green;
}
#masthead {
  @include flexbox();
  @include flexbox-justify(center);
  @include flexbox-align-items(stretch);
  @include flexbox-align-content(stretch);
  @include flexbox-direction(column);
  padding: 0;
  @media screen and (min-width: $tabwidth){
    @include flexbox-direction(row);
    padding: 0 calc(6% - 20px) 0 calc(6% - 20px);
  }
  >.col-1 {
    width: 100%;
    padding: 0 20px;
    @media screen and (min-width: $tabwidth){
      width: 20%;
      padding: 0 0 0 20px;
    }
    .logo {
      margin: 0;
      a {
        display: block;
        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
  >.col-2 {
    width: 100%;
    @include flexbox();
    @include flexbox-justify(center);
    @include flexbox-align-items(center);
    @include flexbox-align-content(center);
    @include flexbox-direction(column);
    @media screen and (min-width: $tabwidth){
      @include flexbox-justify(flex-start);
      @include flexbox-align-items(flex-end);
      @include flexbox-align-content(flex-end);
      width: 80%;
    }
    >.row-1 {
      width: 100%;
      order: 2;
      padding: 0 20px;
      @media screen and (min-width: $tabwidth){
        padding: 0 20px 10px 0;
        width: auto;
        order: 1;
      }
      .provider {
        text-align: center;
        @media screen and (min-width: $tabwidth){
          display: inline-block;
          margin-right: 5px;
          margin-top: -4px;
          background-color: $color__cn-green;
          border: 4px solid $color__cn-green;
          border-radius: 5px;
        }
        a {
          display: block;
          padding: 10px;
          text-decoration: none;
          font-size: 18px;
          color: $color__cn-green;
          font-weight: 300;
          &:hover {
            color: $color__cn-green;
          }
          @media screen and (min-width: $tabwidth){
            font-size: 20px;
            padding: 5px;
            color: white;
            &:hover {
              color: white;
            }
          }
          @media screen and (min-width: $midwidth){
            font-size: 25px;
          }
        }
      }
      .parent {
        text-align: center;
        @media screen and (min-width: $tabwidth){
          display: inline-block;
          margin: -4px 5px 0 5px;
          background-color: $color__cn-green;
          border: 4px solid $color__cn-green;
          border-radius: 5px;
        }
        a {
          display: block;
          padding: 10px;
          text-decoration: none;
          font-size: 18px;
          color: $color__cn-green;
          font-weight: 300;
          &:hover {
            color: $color__cn-green;
          }
          @media screen and (min-width: $tabwidth){
            font-size: 20px;
            padding: 5px;
            color: white;
            &:hover {
              color: white;
            }
          }
          @media screen and (min-width: $midwidth){
            font-size: 25px;
          }
        }
      }
      .donate {
        text-align: center;
        @media screen and (min-width: $tabwidth){
          display: inline-block;
          margin-left: 5px;
          margin-top: -4px;
          border: 4px solid $color__cn-green;
          border-radius: 5px;
        }
        a {
          display: block;
          padding: 10px;
          color: $color__cn-green;
          text-decoration: none;
          font-size: 18px;
          font-weight: 300;
          @media screen and (min-width: $tabwidth){
            font-size: 20px;
            padding: 5px;
            text-transform: uppercase;
          }
          @media screen and (min-width: $midwidth){
            font-size: 25px;
          }
          &:hover {
            color: $color__cn-green;
          }
        }
      }
    }
    >.row-2 {
      text-align: center;
      order: 1;
      width: 100%;
      padding: 0 20px;
      @media screen and (min-width: $tabwidth){
        padding: 0 20px 0 0;
        margin: auto 0;
        text-align: right;
        order: 2;
        width: auto;
      }
      a {
        display: inline-block;
        color: $color__text-main;
        text-decoration: none;
        font-size: 25px;
        @media screen and (min-width: $tabwidth){
          font-size: 35px;
        }
        &:hover {
          color: $color__text-main;
        }
        i {

        }
      }
    }
    >.row-3 {
      width: 100%;
      order: 3;
      padding: 0;
      nav#site-navigation {
        text-align: right;
        padding: 0 20px;
        @media screen and (min-width: $tabwidth){
          padding: 0;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            text-align: center;
            color: $color__cn-green;
            cursor: pointer;
            font-size: 18px;
            padding: 10px;
            text-transform: uppercase;
            list-style-type: none;
            font-weight: 300;
            @media screen and (min-width: $tabwidth){
              font-size: 20px;
              padding: 10px 20px;
              display: inline-block;
              &:last-child {
                padding-right: 20px;
                margin-right: 0;
              }
            }
            @media screen and (min-width: $midwidth){
              font-size: 30px;
              margin: 0 10px;
            }
            &.toggled {
              background-color: $color__cn-green;
              color: white;
            }
          }
        }
      }
      .hover-menu-wrapper {
        position: relative;
        padding: 10px;
        @media screen and (min-width: $tabwidth){
          padding: 0;
        }
        .hover-menu {
          display: none;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 20;
          border: 2px solid $color__cn-green;
          background-color: white;
          padding: 20px;
          @media screen and (min-width: $tabwidth){
            position: absolute;
            left: -20/.8*1%;
            width: 100%+20/.8*1%;
            padding: 4%;
            border: 15px solid $color__cn-green;
          }
          &.toggled {
            display: block;
          }
          >.col-1 {
            width: 100%;
            @media screen and (min-width: $midwidth){
              float: left;
              width: 50%;
            }
            h2 {
              margin: 0;
              font-size: 20px;
              font-weight: 300;
              @media screen and (min-width: $tabwidth){
                font-size: 25px;
              }
              @media screen and (min-width: $midwidth){
                font-size: 30px;
              }
            }
            .copy {
              margin: 20px 0 0 0;
            }
          }
          >.col-2 {
            width: 100%;
            margin: 20px 0 0 0;
            @media screen and (min-width: $midwidth){
              float: left;
              width: 35%;
              margin: 0 0 0 15%;
            }
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style-type: none;
                margin: 0;
                a {
                  display: block;
                  text-decoration: none;
                  color: $color__cn-green;
                  font-size: 18px;
                  vertical-align: middle;
                  font-weight: 300;
                  @media screen and (min-width: $midwidth){
                    font-size: 25px;
                  }
                  &:hover {
                    color: $color__cn-green;
                  }
                  i {
                    display: inline-block;
                    font-size: 30px;
                    margin: 0 10px 0 0;
                    vertical-align: middle;
                    line-height: 1;
                    color: $color__cn-green;
                    @media screen and (min-width: $midwidth){
                      font-size: 70px;
                      margin: 0 10% 0 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#colophon {
  background-color: $color__cn-green;
  color: white;
  padding: 20px;
  @media screen and (min-width: $tabwidth){
    padding: 3% 10%;
  }
  >.col-1 {
    text-align: center;
    @media screen and (min-width: $tabwidth){
      float: left;
      width: 49%;
      margin: 0 1% 0 0;
      text-align: left;
    }
    .business-name {
      font-size: 18px;
      margin: 0 0 10px 0;
      @media screen and (min-width: $tabwidth){
        margin: 0;
      }
    }
    .non-discrimination {
      margin: 0 0 10px 0;
      @media screen and (min-width: $tabwidth){
        margin: 0;
      }
      a {
        text-decoration: none;
        color: inherit;
        font-size: 18px;
        &:hover {
          color: inherit;
        }
      }
    }
  }
  >.col-2 {
    text-align: center;
    @media screen and (min-width: $tabwidth){
      float: left;
      width: 49%;
      margin: 0 0 0 1%;
      text-align: right;
    }
    .address {
      font-size: 18px;
      margin: 0 0 10px 0;
      @media screen and (min-width: $tabwidth){
        margin: 0;
      }
    }
    .sitemap-bw {
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          @media screen and (min-width: $tabwidth){
            display: inline-block;
          }
          &:first-child {
            a {
              &:before {
                display: none;
              }
            }
          }
          a {
            text-decoration: none;
            color: inherit;
            font-size: 18px;
            &:hover {
              color: inherit;
            }
            @media screen and (min-width: $tabwidth){
              &:before {
                content: "|";
                margin: 0 5px 0 3px;
                color: white;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}