.template-index {
    padding: 0 20px;
    @media screen and (min-width: $tabwidth){
        padding: 0 6%;
    }
    >.flexslider.row-1 {
        ul.slides {
            li {
                >.wrapper {
                    position: relative;
                    overflow: hidden;
                    img {
                        width: 100%;
                        display: block;
                    }
                    .fact {
                        padding: 20px;
                        font-size: 18px;
                        @media screen and (min-width: $tabwidth){
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            padding: 20px;
                            color: white;
                            font-size: 30px;
                            text-transform: uppercase;
                            text-align: center;
                            background-color: $color__cn-green-rgba;
                        }
                    }
                }
            }
        }
    }
    >.row-2 {
        margin: 20px 0 10px 0;
        &:after {
            width: 90%;
            margin: 0 auto;
            padding: 20px 0 0 0;
            content: "";
            display: block;
            clear: both;
            border-bottom: 5px dotted lightgrey;
        }
        @media screen and (min-width: $tabwidth){
            margin: 10% 0 5% 0;
            &:after {
                width: 90%;
                padding: 8% 0 0 0;
            }
        }
        @media screen and (min-width: $midwidth){
            &:after {
                width: 94%;
            }
        }
        .block {
            margin: 20px 0 0 0;
            &:first-child {
                .image-wrapper {
                    &:after {
                        background-color: $color__cn-green-rgba;
                    }
                }
                .link {
                    a {
                        color: $color__cn-green;
                        &:hover {
                            color: $color__cn-green;
                        }
                    }
                }
            }
            &:nth-child(2) {
                .image-wrapper {
                    &:after {
                        background-color: $color__cn-teal-rgba;
                    }
                }
                .link {
                    a {
                        color: $color__cn-teal;
                        &:hover {
                            color: $color__cn-teal;
                        }
                    }
                }
            }
            &:nth-child(3) {
                .image-wrapper {
                    &:after {
                        background-color: $color__cn-blue-rgba;
                    }
                }
                .link {
                    a {
                        color: $color__cn-blue;
                        &:hover {
                            color: $color__cn-blue;
                        }
                    }
                }
            }
            &:nth-child(4) {
                .image-wrapper {
                    &:after {
                        background-color: $color__cn-purple-rgba;
                    }
                }
                .link {
                    a {
                        color: $color__cn-purple;
                        &:hover {
                            color: $color__cn-purple;
                        }
                    }
                }
            }
            @media screen and (min-width: $tabwidth){
                float: left;
                width: 1/2*92%;
                margin: 20px 2% 0 2%;
            }
            @media screen and (min-width: $midwidth){
                float: left;
                width: 1/4*92%;
                margin: 0 1%;
            }
            .image-wrapper {
                border-radius: 50%;
                position: relative;
                width: 80%;
                margin: 0 auto;
                &:after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                }
                img {
                    display: block;
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .title {
                margin: 20px 0 0 0;
                text-align: center;
                h2 {
                    margin: 0;
                    font-weight: 300;
                    color: $color__cn-green;
                    font-size: 20px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 25px;
                    }
                    @media screen and (min-width: $midwidth){
                        font-size: 30px;
                    }
                }
            }
            .copy {
                margin: 20px 0 0 0;
                text-align: center;
            }
            .link {
                margin: 20px 0 0 0;
                text-align: center;
                a {
                    color: $color__text-main;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 16px;
                    }
                    &:hover {
                        color: $color__text-main;
                    }
                }
            }
        }
    }
}
.template-page, .template-donate, .template-staff, .template-sitemap, .error-404, .template-contact {
    padding: 20px;
    @media screen and (min-width: $tabwidth){
        padding: 20px 6% 6% 6%;
    }
    >header.row-1 {
        margin: 0 0 20px 0;
        h1 {
            margin: 0;
            font-size: 20px;
            font-weight: 300;
            color: $color__cn-green;
            @media screen and (min-width: $tabwidth){
                font-size: 25px;
            }
            @media screen and (min-width: $midwidth){
                font-size: 30px;
            }
        }
    }
    >.row-2 {
        >.col-1 {
            @media screen and (min-width: $midwidth){
                float: left;
                width: 60%;
                margin: 0 5% 0 0;
            }
            @media screen and (min-width: $deskwidth){
                width: 70%;
            }
            
            .copy {
            }
        }
        >.col-2 {
            margin: 20px 0 0 0;
            background-color: $color__cn-green;
            padding: 20px;
            @media screen and (min-width: $midwidth){
                float: left;
                width: 35%;
                margin: 0;
            }
            @media screen and (min-width: $deskwidth){
                width: 25%;
            }
            >img {
                width: 100%;
                display: block;
                margin: 0 0 10px 0;
            }
            >.copy {

            }
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none;
                    i {
                    display: block;
                    float: left;
                    font-size: 30px;
                    margin: 0 10px 0 0;
                    line-height: 1;
                    color: white;
                    @media screen and (min-width: $midwidth){
                        font-size: 50px;
                        margin: 0 5% 0 0;
                    }
                    }
                    a {
                        display: block;
                        float: left;
                        color: white;
                        text-decoration: none;
                        vertical-align: middle;
                        font-size: 18px;
                        width: calc(100% - (40px));
                        &:hover {
                            color: white;
                        }
                        @media screen and (min-width: $tabwidth){
                            font-size: 20px;
                        }
                        @media screen and (min-width: $midwidth){
                            font-size: 25px;
                            margin: 5px 0 0 0;
                            width: calc(100% - (50px + 5%));
                        }
                    }
                }
            }
        }
    }
}
.template-contact {
    >.row-2 {
        >.col-1 {
            >.wrapper {
                margin: 20px 0 0 0;
                @media screen and (min-width: $midwidth){
                    @include flexbox();
                    @include flexbox-justify(space-between);
                    @include flexbox-align-content(stretch);
                    @include flexbox-align-items(stretch);
                }
                .col {
                    margin: 20px 0 0 0;
                    @media screen and (min-width: $midwidth){
                        width: 1/3*94%;
                        margin: 0;
                    }
                }
            }
        }
    }
}
.template-donate {
    >.row-2 {
        >.col-2 {
            background-color: transparent;
        }
    }
}
.template-staff {
    padding: 20px;
    @media screen and (min-width: $tabwidth){
        padding: 6% 6%-0.65%;
    }
    >.col-1 {
        @media screen and (min-width: $midwidth){
            margin: 0 4% 0 0;
        }
        >header {
            @media screen and (min-width: $tabwidth){
                padding: 0 1%;
            }
        }
        .copy {
            @media screen and (min-width: $tabwidth){
                padding: 0 1%;
            }
        }
        >.wrapper {
            .executive-director {
                width: 100%;
                margin-top: 20px;
                @media screen and (min-width: $tabwidth){
                    padding: 0 1%;
                }
                >.col-1 {
                    width: 100%;
                    @media screen and (min-width: $tabwidth){
                        width: 48%;
                        float: left;
                        margin: 0 2% 0 0;
                    }
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                >.col-2 {
                    width: 100%;
                    padding: 20px;
                    @media screen and (min-width: $tabwidth){
                        width: 50%;
                        float: left;
                    }
                    header {
                        margin: 20px 0 0 0;
                        h2 {
                            margin: 0;
                        }
                    }
                    .title {
                        text-transform: uppercase;
                    }
                    .email {
                        margin: 30px 0 0 0;
                    }
                    .phone {

                    }
                }
            }
            .staff-type {
                margin: 20px 0 0 0;
                >header {
                    @media screen and (min-width: $tabwidth){
                        padding: 0 1%;
                    }
                    h2 {
                        margin: 0;
                    }
                }
                .staff {
                    margin: 20px 0 0 0;
                    @media screen and (min-width: $tabwidth){
                        float:left;
                        margin: 1%;
                        width: 1/2*96%; 
                    }
                    @media screen and (min-width: $deskwidth){
                        float:left;
                        margin: 1%;
                        width: 1/4*92%; 
                    }
                    img {
                        display: block;
                        width: 100%;
                    }
                    header {
                        margin: 10px 0 20px 0;
                        h3 {
                            margin: 0;
                        }
                    }
                    .title {

                    }
                    .email {

                    }
                    .phone {

                    }
                }
            }
        }
    }
    >.col-2 {
        @media screen and (min-width: $midwidth){
            padding-right: 1%;
        }
    }
}